{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 48.89488970423033,
        "longitude": 2.277157366079337,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "My Home",
        "time_zone": "Europe/Paris",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}